<snippet>
  <content><![CDATA[
wepy.addPhoneContact({
  firstName: ${1:''},
  success: function(res) {
    ${2:console.log(res)}
  },
  fail: function(error) {
    ${3:console.log(error)}
  }
})
]]></content>
  <tabTrigger>waddphonecontact</tabTrigger>
  <scope>text.html.vue</scope>
  <description>addPhoneContact</description>
</snippet>
