<snippet>
  <content><![CDATA[
wepy.getConnectedWifi({
  success: function(res) {
    console.log(res)
  }
})
]]></content>
  <tabTrigger>wgetconnectedwifi</tabTrigger>
  <scope>text.html.vue</scope>
  <description>getConnectedWifi</description>
</snippet>
