<snippet>
  <content><![CDATA[
wepy.getClipboardData({
  success: function(res) {
    ${1:console.log(res)}
  },
  fail: function(error) {
    ${2:console.log(error)}
  }
})
]]></content>
  <tabTrigger>wgetclipboarddata</tabTrigger>
  <scope>text.html.vue</scope>
  <description>getClipboardData</description>
</snippet>
