<snippet>
  <content><![CDATA[
try {
  var res = wepy.getSystemInfoSync()
  ${1:console.log(res)}
} catch (e) {
  ${2:console.log(3)}
}
]]></content>
  <tabTrigger>wgetsysteminfosync</tabTrigger>
  <scope>text.html.vue</scope>
  <description>getSystemInfoSync</description>
</snippet>
