<snippet>
  <content><![CDATA[
wepy.getScreenBrightness({
  success: function(res) {
    ${1:console.log(res)}
  },
  fail: function(error) {
    ${2:console.log(error)}
  }
})
]]></content>
  <tabTrigger>wgetscreenbrightness</tabTrigger>
  <scope>text.html.vue</scope>
  <description>getScreenBrightness</description>
</snippet>
