<snippet>
  <content><![CDATA[
wepy.getWifiList({
  success: function(res) {
    ${1:console.log(res)}
  }
})
]]></content>
  <tabTrigger>wgetwifilist</tabTrigger>
  <scope>text.html.vue</scope>
  <description>getWifiList</description>
</snippet>
