<snippet>
  <content><![CDATA[
wepy.makePhoneCall({
  phoneNumber: ${1:''}
})
]]></content>
  <tabTrigger>wmakephonecall</tabTrigger>
  <scope>text.html.vue</scope>
  <description>makePhoneCall</description>
</snippet>
