<snippet>
  <content><![CDATA[
wepy.onAccelerometerChange(function(res) {
  ${1:console.log(res)}
})
]]></content>
  <tabTrigger>wonaccelerometerchange</tabTrigger>
  <scope>text.html.vue</scope>
  <description>onAccelerometerChange</description>
</snippet>
