<snippet>
  <content><![CDATA[
wepy.onCompassChange(function(res) {
  ${1:console.log(res)}
})
]]></content>
  <tabTrigger>woncompasschange</tabTrigger>
  <scope>text.html.vue</scope>
  <description>onCompassChange</description>
</snippet>
