<snippet>
  <content><![CDATA[
wepy.onGetWifiList(function(res) {
  ${1:console.log(res)}
})
]]></content>
  <tabTrigger>wongetwifilist</tabTrigger>
  <scope>text.html.vue</scope>
  <description>onGetWifiList</description>
</snippet>
