<snippet>
  <content><![CDATA[
wepy.onNetworkStatusChange(function(res) {
  ${1:console.log(res)}
})
]]></content>
  <tabTrigger>wonnetworkstatuschange</tabTrigger>
  <scope>text.html.vue</scope>
  <description>onNetworkStatusChange</description>
</snippet>
