<snippet>
  <content><![CDATA[
wepy.onUserCaptureScreen(function(res) {
  ${1:console.log(res)}
})
]]></content>
  <tabTrigger>wonusercapturescreen</tabTrigger>
  <scope>text.html.vue</scope>
  <description>onUserCaptureScreen</description>
</snippet>
