<snippet>
  <content><![CDATA[
wepy.onWifiConnected(function(res) {
  console.log(res)
})
]]></content>
  <tabTrigger>wonwificonnected</tabTrigger>
  <scope>text.html.vue</scope>
  <description>onWifiConnected</description>
</snippet>
