<snippet>
  <content><![CDATA[
wepy.scanCode({
  phoneNumber: ${1:''}
})
]]></content>
  <tabTrigger>wscanCode</tabTrigger>
  <scope>text.html.vue</scope>
  <description>scanCode</description>
</snippet>
