<snippet>
  <content><![CDATA[
wepy.setClipboardData({
  data: ${1:'data'},
  success: function(res) {
    ${2:console.log(res)}
  },
  fail: function(error) {
    ${3:console.log(error)}
  }
})
]]></content>
  <tabTrigger>wsetclipboarddata</tabTrigger>
  <scope>text.html.vue</scope>
  <description>setClipboardData</description>
</snippet>
