<snippet>
  <content><![CDATA[
wepy.setKeepScreenOn({
  keepScreenOn: ${1:true},
  success: function(res) {
    ${2:console.log(res)}
  },
  fail: function(error) {
    ${3:console.log(error)}
  }
})
]]></content>
  <tabTrigger>wsetkeepscreenon</tabTrigger>
  <scope>text.html.vue</scope>
  <description>setKeepScreenOn</description>
</snippet>
