<snippet>
  <content><![CDATA[
wepy.setWifiList({
  wifiList: ${1:[]}
})
]]></content>
  <tabTrigger>wsetwifilist</tabTrigger>
  <scope>text.html.vue</scope>
  <description>setWifiList</description>
</snippet>
