<snippet>
  <content><![CDATA[
wepy.startAccelerometer()
]]></content>
  <tabTrigger>wstartaccelerometer</tabTrigger>
  <scope>text.html.vue</scope>
  <description>startAccelerometer</description>
</snippet>
