<snippet>
  <content><![CDATA[
wepy.startWifi({
  success: function(res) {
    ${1:console.log(res)}
  }
})
]]></content>
  <tabTrigger>wstartwifi</tabTrigger>
  <scope>text.html.vue</scope>
  <description>startWifi</description>
</snippet>
