<snippet>
  <content><![CDATA[
wepy.stopWifi({
  success: function(res) {
    ${1:console.log(res)}
  }
})
]]></content>
  <tabTrigger>wstopwifi</tabTrigger>
  <scope>text.html.vue</scope>
  <description>stopWifi</description>
</snippet>
