<snippet>
  <content><![CDATA[
wepy.stopAccelerometer()
]]></content>
  <tabTrigger>wstopaccelerometer</tabTrigger>
  <scope>text.html.vue</scope>
  <description>stopAccelerometer</description>
</snippet>
